.cont-card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
    margin: 0;
   
    
}

.card{
    
    background-color: tan;
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 1px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 0.1em 0.5em 0.3em black;
}

.card-img{
    
    height: 100px;
    width: 120px; 
    margin-left: 90px;
    margin-top: 15px;
    
    justify-content: center;
    padding: 3px;
    box-shadow: 0.1em 0.5em 0.3em black;
}

.name-h{
    margin: auto;
    color: sienna;
    text-decoration: none;
    text-shadow:0.1em 0.5em 0.3em black ;
    text-align: center;
    font-size: 20px;
}

.diet-h{
    margin-top: 15px;
    color: saddlebrown;
    text-shadow:0.1em 0.5em 0.3em black ;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.hs-h {
    margin-top: 20px;
    color: saddlebrown;
    text-shadow:0.1em 0.5em 0.3em black ;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

